<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hy.bydapp">

    <!--车辆信息类的权限  COMMON必须要动态注册-->
    <uses-permission android:name="android.permission.BYDAUTO_BODYWORK_COMMON"/>
    <!--车辆信息类获取权限-->
    <uses-permission android:name="android.permission.BYDAUTO_BODYWORK_GET"/>
    <!-- 车速类-->
    <uses-permission android:name="android.permission.BYDAUTO_SPEED_COMMON"/>
    <uses-permission android:name="android.permission.BYDAUTO_SPEED_GET"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:icon="@drawable/qin"
        android:theme="@style/AppTheme">

        <activity android:name=".PermissionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SpeedActivity" />
    </application>

</manifest>